// --------------------------------------------------------------------------------
// MASTER IMPORT
//---------------------------------------------------------------------------------

// LIBS


// MIXINS


// BASE
@import 'base/variables';
@import 'base/fonts';
@import 'base/elements';
@import 'base/states';

// MODULES
@import 'modules/temp';
@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/modals';
@import 'modules/tables';
@import 'modules/tabs';

// TEMPLATE
@import 'template/header';
@import 'template/body';
@import 'template/footer';
@import 'template/sidebar';
@import 'template/view';

// VIEWS


.scorebar {
	color: white !important;
	h3 {
		color: white;
	}
}

b {
	font-size: 35px;
}

.megamath {
	font-size: xx-large;
	text-align: center;
}

.chances {
	background: grey;
    color: white;
    text-align: center;
    font-size: large;
}

.timer {
	background: orange;
    color: white;
    text-align: center;
    font-size: large;
}

h4.chg {
	text-align: center;
}

.pattern {
	.blink {
		background: orange;
		min-height: 100px;
		width: 100%;
		color: white;
		text-align: center;
		font-size: xx-small;
	}
}